{% extends "layout.html" %}

{% block content %}
{% if flag %}
<div>
	<h1 style="text-align: center; padding-top: 5%;"> Welcome to Books {{ name }}</h1>
</div>
<div class="container-fluid" style="padding: 5%">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<form action="/search" method="GET">
				<div class="form-group">
					<input type="text" class="form-control" name="book" autofocus aria-describedby="bookHelp"
						placeholder="Search for a book, ISBN/Title/Author">
				</div>
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% else %}
<h1> Welcome to Books</h1>
<div class="alert alert-info" role="alert">
	<h4 class="alert-heading">Hi!</h4>
	<p>{{ message }}</p>
	<hr>
	<a href="{{ url_for('register') }}" class="mb-0">Please login to continue.</a>
</div>
{% endif %}
{% endblock content %}