{% extends "layout.html" %}

{% block content %}
	{% if flag %}
		<h1> Welcome {{name}} </h1>
    <div class="alert alert-success" role="alert">
       <h4 class="alert-heading">Well done!</h4>
        <p>{{ message }}</p>
        <hr>
        <a href = "{{ url_for('register') }}" class="mb-0" >Please login to continue.</a>      
    </div>
	{% else %}
  <div class = "container-fluid" style = "padding: 5%">
    <div class = "row">
      <div class = "col-md-3"></div>
      <div class = "col-md-6">
    		<form method="POST">
      			<div class="form-group">
        			<label for="Name"> Name </label>
        			<input type="text" name="name" placeholder="Enter your name" class="form-control"/>
      			</div>
      			<div class="form-group">
        			<label for="Password">Password</label>
        			<input type="password" class="form-control" name = "password" placeholder="Enter your password" />
      			</div>
      			<input type="submit" class="btn btn-primary" formaction="/register" value = "Register"> 
            <input type="submit" class="btn btn-primary" formaction="/auth" value = "Login">
    		</form>
        {{ message }}
      </div>
      <div class = "col-md-3"></div>
    </div>
  </div>
	{% endif %}
{% endblock content %}
